{% extends "feed_base.html" %}

{% block feed %}
<body>
<div class="feed">

    <div class="short-cuts">
        <div class="ul">
        <ul>
            <li><box-icon name='dice-6' ></box-icon>For You</li><br>
            <li><box-icon name='star' ></box-icon>Following</li><br>
            <li><box-icon name='videos' type='solid' ></box-icon>Videos</li><br>
            <li><box-icon name='bookmarks' ></box-icon>Saved</li><br>
            <li><box-icon name='group' type='solid' ></box-icon>Clubs</li><br>
            <li><button>POST<box-icon name='plus' ></box-icon></li></button><br>

        </ul>

    </div>
        <h3>Recomended</h3>
        {% load static %}
        <ul class="img">
            <li>
                <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                <p>@amerix</p>

            
            </li>
            <li>
                <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                <p>@dear_son</p>
            </li>
            <li>
                <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                <p>@masculinity</p>
            </li>
            <li>
                <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                <p>@trump</p>
            </li>
            <li>
                <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                <p>@elonmusk</p>
            </li>
            <div class="settings">
            <a href="#"><box-icon name='cog' ></box-icon> Settings</a>
            </div>

        </ul>

        </div>



        <div class="posts">

            <div class="upload">

                <div class="user-details">
                    <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                    <h4>Jordan Peterson <span>@masculinity</span></h4>
                </div>
                <img src="{% static 'images/test.png' %}">

                <div class="icons">
                    <ul>
                        <li><box-icon name='bookmark' ></box-icon>450</li>
                        <li><box-icon name='comment' ></box-icon>2k</li>
                        <li><box-icon name='repost' ></box-icon>1k</li>
                        <li><box-icon name='heart'></box-icon>3k</li>
                        <li><box-icon name='share-alt' ></box-icon>25</li>


                    </ul>
                </div>
            </div>

            <div class="upload">

                <div class="user-details">
                    <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                    <h4>Jordan Peterson <span>@masculinity</span></h4>
                </div>
                <p> {% lorem 1 %}</p>
                <div class="icons">
                    <ul>
                        <li><box-icon name='bookmark' ></box-icon>450</li>
                        <li><box-icon name='comment' ></box-icon>2k</li>
                        <li><box-icon name='repost' ></box-icon>1k</li>
                        <li><box-icon name='heart'></box-icon>3k</li>
                        <li><box-icon name='share-alt' ></box-icon>25</li>


                    </ul>
                </div>
            </div>


            <div class="upload">

                <div class="user-details">
                    <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
                    <h4>Jordan Peterson <span>@masculinity</span></h4>
                </div>

                <p> {% lorem 1 %}<p>
                <video  controls autoplay  loop>
                    <source src="{% static 'videos/vid1.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="icons">
                    <ul>
                        <li><box-icon name='bookmark' ></box-icon>450</li>
                        <li><box-icon name='comment' ></box-icon>2k</li>
                        <li><box-icon name='repost' ></box-icon>1k</li>
                        <li><box-icon name='heart'></box-icon>3k</li>
                        <li><box-icon name='share-alt' ></box-icon>25</li>


                    </ul>

                </div>
            </div>

            








        </div>



        <div class="top-talks">
            <h3> TOP TALKS </h3>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

            <div class="talk">
                <img src="{% static 'images/lion.png' %}">
                <h5>The art of not giving a f**k</h5>
                <box-icon name='play-circle' style="font-size: 40px;"></box-icon>
                


            </div>

        </div>




</div>

</body>


{% endblock feed %}






{% block footer %}


{% endblock footer %}