
{% extends "base.html" %}
{% block content %}

<div class="hero-section" id="home">
    <div class="text">
        <h2>Boys<span>Vault</span>,</h2>
            <h3>Real Conversations, Real Support.</h3>
                <p>Every boy faces challenges, but no one has to face them alone. BoysVault is a supportive community where you can share what's on your mind without fear or judgment.
                     This is your place to connect with others who understand what you're going through and to find strength in shared experiences. 
                    Whether it's about school, family, friendships, or just feeling overwhelmed, you'll find people here who listen, support, and encourage each other.
                     At SafeSpace, we believe in lifting each other up and growing stronger—together.</P>
                     <a href="login"><button> Let It Out</button></a>


    </div>
    <div class='img'>
        {% load static %}
        <img src="{% static 'images/rb_8014.png' %}">

    </div>
    </div>
<!--About section-->
<div class="title" id="bout">
    <h2>About</h2>
</div>
<div class="about" id="about">
    
    <div id="img">
        <img src="{% static 'images/Team spirit-amico.png' %}">

</div>
<div id="text">
    <h2>Boys<span>Vault</span>,About Us...</h2>
        <p>{% lorem 2 %}</p>

</div>
</div>
<!--Testimonials section styling "community"-->
<div class="title" id="testhead">
    <h2>What Community Says</h2>
</div>
<div class="testimonials" id="community">
    <div class="person">
        <div class="profile">
        <img src="{% static 'images/albert-dera-ILip77SbmOE-unsplash.jpg' %}">
        <h2>Hervy Specter</h2>
        </div>

        <p>BoysVault is like a sanctuary for me. There were days when I felt like I had no one to turn to, but the supportive messages and understanding here have helped me get through tough times. It's a place I can count on when I need it most.</p>

    </div>

    <div class="person">
        <div class="profile">
        <img src="{% static 'images/dominique-jordan-cYgNxkwCEoI-unsplash.jpg' %}">
        <h2>Mike Ross</h2>
        </div>
        <p>I mostly browse and read stories on BoysVault, and even though I don't post much, I've learned a lot from others. It's comforting to know that there are people out there who have gone through similar experiences. I'm grateful for this space.</p>

    </div>

    <div class="person">
        <div class="profile">
        <img src="{% static 'images/elizeu-dias-2EGNqazbAMk-unsplash.jpg' %}">
        <h2>Louis Litt</h2>
        </div>

        <p>I suggested a few improvements, and I was surprised at how quickly the BoysVault team responded. It feels great to know that my voice matters here. BoysVault is truly user-centered, and it's nice to feel part of a community that's growing and evolving with us.</p>

    </div>

    <div class="person">
        <div class="profile">
        <img src="{% static 'images/erik-lucatero-d2MSDujJl2g-unsplash.jpg' %}">
        <h2>Paulo de Paul</h2>
        </div>
        <p>Joining BoysVault was one of the best decisions I've made. It's a relief to have a place where I can be open without fear of judgment. Everyone is welcoming, and the resources here are helpful. I finally feel like I'm not alone in facing my challenges.</p>

    </div>

    <div class="person">
        <div class="profile">
        <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
        <h2>Reinhard Ofweneke</h2><br>

        </div>
        <p>BoysVault has become a part of my daily routine. I love engaging with others, sharing advice, and reading other people's stories. The community here is genuine, and it's amazing to see people supporting each other. It's not just a platform; it's a safe, positive environment for everyone.</p>

    </div>

    <div class="person">
        <div class="profile">
        <img src="{% static 'images/where-is-pykh-_3vfugHP3Ro-unsplash.jpg' %}">
        <h2>John Doe</h2>
        </div>
        <p>BoysVault has become a part of my daily routine. I love engaging with others, sharing advice, and reading other people's stories. The community here is genuine, and it's amazing to see people supporting each other. It's not just a platform; it's a safe, positive environment for everyone.</p>

    </div>


</div>


{% endblock content %}