
{% extends "base.html" %}
{% block content %}

<div class="hero-section">
    <div class="text">
        <h2>SafeSpace,</h2>
            <h3>Real Conversations, Real Support.</h3>
                <p>Every boy faces challenges, but no one has to face them alone. SafeSpace is a supportive community where you can share what's on your mind without fear or judgment.
                     This is your place to connect with others who understand what you're going through and to find strength in shared experiences. 
                    Whether it's about school, family, friendships, or just feeling overwhelmed, you'll find people here who listen, support, and encourage each other.
                     At SafeSpace, we believe in lifting each other up and growing stronger—together.</P>
                     <button> Let It Out</button>


    </div>
    <div class='img'>
        {% load static %}
        <img src="{% static 'images/satyam-pathak-1Qu2qJfyTko-unsplash.jpg' %}">

    </div>

</div>

{% endblock content %}