*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
    max-width: 100%;
}
body{
    background: white;
    color: black;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    color: white;
    top: 0;
    padding: 15px;
    width: 100%;
    background: black;
    position: fixed;
}
nav h3{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
}
nav h3 span{
    font-family: "Rubik Wet Paint", serif;
    color: rgb(207, 105, 202);
    
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}
nav ul li{
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    color: white;
}

/*Feed nav bar design*/
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    color: white;
    top: 0;
    padding: 15px;
    width: 100%;

    position: fixed;
}

/*hero-section styling*/
.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    height: 100vh;
}
.hero-section .img{
    width: 50%;
}
.hero-section .text{
    width: 50%;
}
.hero-section .text h2{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.hero-section .text h2 span{
    font-family: "Rubik Wet Paint", serif;
    color: rgb(207, 105, 202);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.hero-section .text h3{
    font-family: "Oxanium", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;

    
}
.hero-section .text p{
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.05em;
    margin-top: 10px;

}
.hero-section .text button{
    border-style: none;
    padding: 12px;
    background: rgb(207, 105, 202);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.hero-section .text button:hover{
    background: grey;
    transition: background 0.3s ease;

}
.hero-section .img img{
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
/*About section styling*/
.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin: 20px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2rem;

}
.about #img{
    max-width: 50%;

}
.about #img img{
    border-radius: 20px;
}

.about #text{
    max-width: 50%;
}
.about #text h2{
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    font-family: "Rubik Wet Paint", serif;
}
.about #text h2 span{
    color: rgb(207, 105, 202);
    font-family: "Rubik Wet Paint", serif;
}
.about #text p{
    line-height: 1.5;
    letter-spacing: 0.05em;

}

/*testimonials section styling*/
.title #testhead{
    margin-bottom: 0px;
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    border-radius: 30px;
    justify-content: center;
    padding: 50px;
    

}
.testimonials .profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
.testimonials .profile img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;

}
.testimonials .person {
    background: white;
    border-radius: 12px;
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.5);;
    padding: 15px;
}
.testimonials .person h2{
    font-family: "Oxanium", serif;
    line-height: 1.2;
    font-weight: 450;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}
.testimonials .person p{
    font-family: "Noto Sans", serif;
    line-height: 1.4;
    letter-spacing: 0.05em;
    margin-top: 5px;
}

/*footer styling*/
.footer footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background: rgb(59, 92, 101);
}
.footer .logo-n-stuff h2{
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    font-family: "Rubik Wet Paint", serif;

}
.footer .logo-n-stuff h2 span{
    color: rgb(207, 105, 202);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    font-family: "Rubik Wet Paint", serif;
}
.footer .logo-n-stuff p{
    font-family: "Noto Sans", serif;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.footer .useful-links h2{
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 5px;

}
.footer .useful-links ul li{
    list-style: none;
    line-height: 1.4;
    letter-spacing: 0.05em;

}
.footer .useful-links ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.footer .subscribe h2{
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}
.footer .subscribe input{
    border-style: none;
    border-radius: 5px;
    padding: 12px;
}
.footer .subscribe button{
    border-style: none;
    background: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}
.footer .subscribe button:hover{
    background: gray;
    color: black;
    transform: background 0.3s ease;
}
.footer .socials ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
.footer .socials ul li{
    list-style: none;
    
}